@media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
        background: #0b51dd!important;
        padding-right: 58px;
    }
  }
  .view,body,html{height:100%}
  .navbar{background-color:transparent}
  .page-footer,.top-nav-collapse{background-color:#1C2331}@media only screen and (max-width:768px){.navbar{background-color:#1C2331}}
  
  nav.scrolled {
    background: #0a0a0a;
  }
  nav {
    transition: background .5s; /* control how smooth the background changes */
  }

 

@media only screen and (min-width: 600px) {
  .login button{
    width: 10vw;
}
.slogan{
  display: none;
}
}

@media only screen and (max-width: 600px) {
  .login button{
    width: 30vw;
}
.login{
 padding-left: 6%;

}
.slogan{
  margin-top: 37vh;
      position: absolute;
      margin-left: 23px;
      font-size: 43px;
      color: floralwhite; 
}
}

 
.login{
  background-image: url('./image/wallpaper2.jpg');
  position: absolute; z-index:-1; min-height:100vh;
  width: 100vw;
  background-size: cover;
  min-width:100vw;
}
@media only screen and (orientation:portrait) {
  .login{
    background-image: url('./image/Red\ Blood\ Cells\ Abstract\ Wallpaper\ 1080X1920.jpg');
  }
}

/* image change */
/* .frame {
    height: 94vh;
    width: 98vw;
    margin: 5px 5px;
    background-color: #eee;
    background-position: center;
    background-size: cover;
    
    animation: image 15s infinite alternate;
  }
  
  @keyframes image {
    0% {
      background-image: url('./image/wallpaper1.jpg');
    }
    50% {
      background-image: url('./image/wallpaper2.jpg');
    }
    100% {
        background-image: url('./image/wallpaper3.jpg');
      }
  } */


  /* text auto scrool down */
  
  .mydiv:hover {  
    animation: scrolling 12s .2s linear 1;
  }


  @keyframes scrolling {
    from { top: 0; transform: translate3d(0, 0, 0); }
    to { transform: translate3d(0, -100%, 0); }
  }
